@using EmailConfirmationServer.Models
@model SheetUpload
@{
    ViewBag.Title = "Manage Spreadsheet";
    Layout = null;
}

<div class="row">
    <div class="col" id="tableDiv">

        @if (ViewBag.ShowConfirmed)
        {
            <h2>Confirmed Emails</h2>
        }
        else
        {
            <h2>UnConfirmed Emails</h2>
        }
        <table id="emailsTable" class="table table-striped table-bordered" style="width:100%; float: left">
            <thead class="aligntop">
                <tr>
                    <th style="white-space: normal;">First Name</th>
                    <th style="white-space: normal;">Last Name</th>
                    <th style="white-space: normal;">Outlook Email</th>
                    <th style="white-space: normal;">St Martin Email</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.People != null)
                {
                    if (ViewBag.ShowConfirmed)
                    {
                        foreach (var person in Model.People)
                        {

                            bool bothEmailsConfirmed = false;

                            foreach (var email in person.Emails)
                            {
                                if (email.IsConfirmed)
                                {
                                    bothEmailsConfirmed = true;

                                }
                            }

                            if (bothEmailsConfirmed == true)
                            {
                                <tr>
                                    <td style="white-space: normal;">@person.FirstName</td>
                                    <td style="white-space: normal;">@person.LastName</td>

                                    @foreach (var email in person.Emails)
                                    {
                                        if (email.IsConfirmed)
                                        {

                                            <td>@email.EmailAddress</td>
                                        }
                                        else
                                        {
                                            <td>@String.Empty</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        foreach (var person in Model.People)
                        {

                            bool bothEmailsConfirmed = false;

                            foreach (var email in person.Emails)
                            {
                                if (!email.IsConfirmed)
                                {
                                    bothEmailsConfirmed = true;

                                }
                            }

                            if (bothEmailsConfirmed == true)
                            {
                                <tr>
                                    <td style="white-space: normal;">@person.FirstName</td>
                                    <td style="white-space: normal;">@person.LastName</td>

                                    @foreach (var email in person.Emails)
                                    {
                                        if (!email.IsConfirmed)
                                        {

                                            <td style="white-space: normal;">@email.EmailAddress</td>
                                        }
                                        else
                                        {
                                            <td>@String.Empty</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    }
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row" style="margin-top:10px;">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups to show different emails and download spreadsheet">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button class="btn btn-primary" style="background-color: #288A52;" id="showUnconfirmedButton" value=@Model.Id>Show Unconfirmed</button>
            <button class="btn btn-primary" style="background-color: #288A52;" id="showConfirmedButton" value=@Model.Id> Show Confirmed </button>
        </div>
        <div class="btn-group float-right" role="group" aria-label="Second group">
            <form asp-controller="Spreadsheet" asp-action="Download" method="post">
                <input type="hidden" name="id" value=@Model.Id id="downloadInput" />
                <button class="btn btn-primary" style="background-color: #288A52; type="submit">Download</button>
            </form>
        </div>        
    </div>
</div>


<script>
    $(document).ready(function () {        
        $('#emailsTable').DataTable({
             retrieve: true,            
            searching: false,
            info: false,
            ordering: false,                  
            "language": {
                "emptyTable": "No emails to show"
            },
        })
    })
</script>

