@using EmailConfirmationServer.Models
@model List<SheetUpload>
@{
    ViewBag.Title = "Manage Spreadsheet";
}

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar text-center">
            <div class="sidebar-sticky">
                <h4 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                    <span>Saved Spreadsheets</span>
                    <a class="d-flex align-items-center text-muted" href="#">
                        <span data-feather="plus-circle"></span>
                    </a>
                </h4>
                <div class="nav flex-column mb-2" id="sheetSideNavBar">
                    @{ bool first = true; }
                    @foreach (SheetUpload sheet in Model)
                    {
                        if (first)
                        {
                            <div class="nav-item">
                                <a class="nav-link active" onclick="loadConfirmedSpreadsheet()" href="#" id=@sheet.Id>
                                    @sheet.Title
                                </a>
                            </div>
                            first = false;
                            <form asp-action="DeleteSpreadsheet" asp-controller="Spreadsheet" method="post">
                                <input type="hidden" name="id" value="@sheet.Id" />
                                <button type="submit" class="btn btn-primary btn small" style ="background-color: #288A52" 
                                        onclick="return confirm('Are you sure you want to delete the @sheet.Title spreadsheet?')">Delete</button>
                            </form>
                        }
                        else
                        {
                            <div class="nav-item">
                                <a class="nav-link" onclick="loadConfirmedSpreadsheet()" href="#" id=@sheet.Id>
                                    @sheet.Title
                                </a>
                            </div>
                            <form asp-action="DeleteSpreadsheet" asp-controller="Spreadsheet" method="post">
                                <input type="hidden" name="id" value="@sheet.Id" />
                                <button type="submit" class="btn btn-primary btn small" style ="background-color: #288A52" 
                                        onclick="return confirm('Are you sure you want to delete the @sheet.Title spreadsheet?')">Delete</button>
                            </form>
                        }
                    }
                </div>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h2 id="title">Please upload your spreadsheet</h2>
            @*Spreadsheet refers to spreadsheetController and Upload is the action method*@
            @using (Html.BeginForm("Upload", "Spreadsheet", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <label for="file">Upload File:</label>
                <input type="file" name="file" id="file" /><br>
                <input type="submit" value="Submit" /><br>
            }

            <h2>@ViewBag.Message</h2>

            <div class="container">
                <div class="row">
                    <div class="col" id="tableHolder">
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div>
                        <button class="btn btn-primary" style ="background-color: #288A52;" id="unconfirmed">Show Unconfirmed</button>
                        <button class="btn btn-primary" style ="background-color: #288A52;" id="confirmed"> Show Confirmed </button>
                    </div>
                </div>
            </div>

        </main>
    </div>
</div>


@section Scripts
{
    <script>
        //this jquery handles the show unconfirmed button event
        
        $("#unconfirmed").click(function () {
            var uploadId = $(".nav-link.active").prop("id")
            $("#tableHolder").load('@Url.Action("LoadUnconfirmedSpreadsheet")', { id: uploadId })
            })
        

        //this jquery handles the show confirmed button event
                  
        $("#confirmed").click(function () {                 
            var uploadId = $(".nav-link.active").prop("id")              
            $("#tableHolder").load('@Url.Action("LoadConfirmedSpreadsheet")', { id: uploadId })
            })
     
        //this jquery handles the show confirmed button event
        var loadConfirmedSpreadsheet = function () {
            $(document).ready(function () {
                $(".nav-link").click(function () {                    

                    $(".nav-link").removeClass("active")
                    $(this).addClass("active")
                    
                    var uploadId = this.id
                                         
                    $("#tableHolder").load('@Url.Action("LoadUnConfirmedSpreadsheet")', { id: uploadId }, function (response, status, http) {               
                    })
                })
            })
        }

        //var setFirstSpreadSheetAsActive = function () {
        //    let firstListItem = $("#sheetSideNavBar:first-child")
        //    let firstAnchor = firstListItem.find("li:first").find("a:first");
        //    console.log(firstAnchor.prop("id"))
        //    firstAnchor.addClass("active")
        //}

        //setFirstSpreadSheetAsActive()

    </script>
}